.navbar {
    background-color: #484545;
    height: 20%;
}
.btn {
    background-color: #7C0514;
    color: black;
    padding: 3px;
    font-weight: 500;
}
.icon {
    color: black;
    font-size: xx-large;
}
.dropdown-menu {
    background-color: #7C0514;
    border-radius: 6px;
}
li {
    margin-left: 10px;
    margin-right: 10px;
}
.dropdown-item {
    border-bottom: solid 1px black;
    color: black;
    padding-left: 0;
}
.language {
    border-radius: 6px;
    margin-left: 20rem;
}
.img {
    width: 10vw;
}